.main-locations{
    width: 100%;
    height: auto;
    border-top: solid 3px #44ac40;
    background-color: var(--fiord);
}
.main-locations--head{
    padding-bottom: 20px;
}
.main-locations--head h1 {
    padding-top: 20px;
    font-family: sans-serif;
    font-size: 2.4rem;
    color: var(--white);
    text-align: center;
}
.main-locations > p{
    width: 80%;
    min-width: 250px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 0;
    font-family: sans-serif;
    font-size: 1.6rem;
    text-align: center;
    color: white;
}
.main-locations--head > button {
    display: block;
    width: 110px;
    height: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-size: 2rem;
    text-align: center;   
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}
.main-locations--head > button:active{
    background-color: rgb(207, 207, 207);
}
.main-locations--head > button > span{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url('../../assets/icons/down-chevron.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Loader */
.main-locations--loader-container{
    text-align: center;
}